
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Форма оформления покупки</h3>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.FilmId" name="FilmId" />
        <table>
            <tr>
                <td><p>Введите свое имя </p></td>
                <td>
                    <input type="text" name="Name" />
                </td>
            </tr>
            <tr>
                <td><p>Введите электронную почту </p></td>
                <td>
                    <input type="text" name="Email" />
                </td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
        </table>
    </form>
</div>