@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-hero_2">
    <div class="page-title">
        <div class="big-title montserrat-text uppercase">Кинотеатр "Хотелось бы сдать"</div>

    </div>
</div>

<!-- история -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-title" style="text-align:left;float:left;width:100%;margin-bottom:0">
                    <span>История кинотеатра</span>
                    <p class="montserrat-text uppercase">Очень захватывающая</p>
                </div>

                <p>
                    История кинотеатра  началась в далеком 2020 году. После долгих лет ничегонеделания, кинотеатр сверстался за две ночи.
                    Кинотеатр стал лучшим. Во-первых, огромный кинозал на 1 место для Елисея Андреевича, во-вторых, просторное фойе и кафе на втором этаже!
                    Также второй зал для кинохроники и детских программ, просторное помещение для билетных касс! Много света, много цветов, новинки кинопроката,
                    приветливый персонал, удобное расположение в центре интернета -- все это полюбилось всем(поставьте 5 пожалуйста)!
                    В общем, с 2020 года кинотеатр стал одним из любимейших мест всех в мире.
                </p>
            </div>
            <div class="col-md-6">
                <div class="section-title" style="text-align:left;float:left;width:100%;margin-bottom:0">
                    <span>Что вас ждет</span>
                    <p class="montserrat-text uppercase">Абсолютно ничего</p>
                </div>

                <p>
                    Функционал кинотеатра настолько невероятен, что это заслуживает 5.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- приколы -->
<section>
    <div class="container">
        <div class="row">
            <div class="section-title">
                <span>Наши развлечения</span>
                <p>
                    В кинотеатре помимо фильмов доступна масса увлекательных занятий!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp">
                <i class="icon ion-iphone"></i>
                <span class="title montserrat-text uppercase">Wi-fi</span>
                <p>
                    Бесплатный вай-фай доступен на всей территории кинотеатра.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".1s">
                <i class="icon ion-ios-infinite-outline"></i>
                <span class="title montserrat-text uppercase">бесплатные напитки</span>
                <p>
                    При покупке одного стакана напитка, последующее наливание бесплатно!
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".2s">
                <i class="icon ion-social-wordpress-outline"></i>
                <span class="title montserrat-text uppercase">Газеты</span>
                <p>
                    Получайте бесплатную прессу после каждого просмотренного фильма! Не знаю зачем.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".3s">
                <i class="icon ion-ios-cart-outline"></i>
                <span class="title montserrat-text uppercase">Киоски</span>
                <p>
                    В кинотеатре можно приобрести все, от попкорна до попкорна, включая попкорн.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".4s">
                <i class="icon ion-ios-settings"></i>
                <span class="title montserrat-text uppercase">Время сеанса</span>
                <p>
                    Если вы опоздали на сеанс, то можете сходить на него позднее по этому же билету!
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 benefits_2_single wow fadeInUp" data-wow-delay=".5s">
                <i class="icon ion-settings"></i>
                <span class="title montserrat-text uppercase">Помощь</span>
                <p>
                    Если у вас возникли проблемы при оплате электронных билетов, мы поможем вам.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- афиша -->
<section>
    <div class="container">
        <div class="row">
            <div class="section-title">
                <span>КИНОАФИША</span>
                <p>
                    Здесь вы можете выбрать фильм на любой вкус и приобрести билет ниже!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp">
                <div class="team_member">
                    <img src="../../Content/img/ddd.jpg" alt="team image">
                    <div class="team_member_hover">
                        <div class="team_member_info">
                            <div class="team_member_name">Король Лев</div>
                            <div class="team_member_job">Киноверсия анимационной классики «Диснея» об обитателях африканской саванны....</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".1s">
                <div class="team_member">
                    <img src="../../Content/img/work-3.jpg" alt="team image">
                    <div class="team_member_hover">
                        <div class="team_member_info">
                            <div class="team_member_name">Соник</div>
                            <div class="team_member_job">Отвязный ярко-синий ежик Соник вместе с новообретенным — человеческим — лучшим другом Томом Вачовски...</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".2s">
                <div class="team_member">
                    <img src="../../Content/img/work-4.jpg" alt="team image">
                    <div class="team_member_hover">
                        <div class="team_member_info">
                            <div class="team_member_name">Лед 2</div>
                            <div class="team_member_job">Что происходит в сказках после свадьбы принца и принцессы?...</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".2s">
                <div class="team_member">
                    <img src="../../Content/img/work-5.jpg" alt="team image">
                    <div class="team_member_hover">
                        <div class="team_member_info">
                            <div class="team_member_name">Супер Женщина: 1984</div>
                            <div class="team_member_job">Продолжение фантастических подвигов амазонки-воительницы Дианы, которая покинула свой уединенный остров....</div>
                        </div>
                    </div>
                </div>
            </div>


            <button type="submit" class="btn green" style="margin-top:50px"><span></span>@Html.ActionLink("Купить билет!", "Index", "Home")</button>


        </div>
    </div>
</section>

<!-- про зачетку -->
<section class="green-section wow fadeInUp" style="padding:50px 0">
    <div class="container">
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <span class="white-text montserrat-text uppercase" style="font-size:30px;display:block;">
                    Вам понравился сайт нашего кинотеатра? Надеемся, что да.
                </span>
                <a href="#" class="btn white" style="margin-top:30px"><span>Да</span></a>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="white-section" style="padding:20px">
                    <span class="montserrat-text uppercase" style="font-size:24px">Поставьте 5</span>
                    <p>

                    </p>
                    <form action="#" method="post">
                        <div class="input_1">
                            <input type="text" name="email">
                            <span>зачетка</span>
                        </div>
                        <button type="submit" class="btn green" style="margin-top:20px"><span>поставить</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>